name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Install Dependencies
        run: |
          go mod tidy
          go install github.com/fyne-io/fyne-cross@latest
      - name: Build Android APK
        run: |
          # Perintah ini mengabaikan pengecekan ikon jika icon.png tidak ada
          $HOME/go/bin/fyne-cross android -app-id com.belajar.apk
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Hasil-APK
          path: fyne-cross/dist/android/*.apk
